body {
  text-align: center;
  background-color: #333;
}

h1 {
  font-family: 'Bevan', cursive;
  margin-top: 20%;
  margin-bottom: 5%;
  color: #5bc0de;
  font-size: 130px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

h2, h3 {
  font-family: 'Bevan', cursive;
  font-size: 18px;
}

h5 {
  color: rgb(255, 213, 33);
  font-size: 18px;
  width: 300px;
}

h4 {
  color: rgb(232, 141, 107);
  font-size: 18px;
  width: 300px;
}

.room_input {
  width: 50%;
  margin-left: 25%;
  color: #26a69a;
}

input {
  text-align: center;
  font-size: 25px !important;
}

.board {
  background-color: white;
  width: auto;
}
